.flex {
  display: flex;
}
  
.flex-column {
  flex-direction: column;
}
  
.flex-row {
  flex-direction: row;
}
  
.white-bg {
  background-color: rgb(255, 255, 255);
}
  
.gray-bg {
  background-color: rgb(213, 213, 213);
}

.background-image-overlay {
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.background-image {
  min-width: 100%;
  max-height: 100%;
}
  
.shadow {
  -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.2);
}
  
.button:hover {
  cursor: pointer;
}
  
.text-link:link,  .text-link:visited {
  text-decoration: none;
  color: rgb(45, 45, 45);
}
    
.text-link:hover,  .text-link:active {
  color: rgb(120, 120, 120);
  cursor: pointer;
}

.active-text-link:link,  .active-text-link:visited, .active-text-link:hover,  .active-text-link:active {
  color: rgb(120, 120, 120);
  cursor: default;
}
  
.image-link {
  display: block;
}
  
.image-link:link,  .image-link:visited {
  text-decoration: none;
}
    
.image-link:hover,  .image-link:active {
  cursor: pointer;
}

header, footer, .section-header {
  padding: 1em 2em;
}

.section {
  position: relative;
  min-height: 100vh;
}

.section-header {

}

.section-title {
  font-size: 1.4em;
}

.section-content {
  flex-grow: 1;
  padding: 0 2em;
}

footer {
  border-top: 1px solid rgb(0, 0, 0);
}

.copyright {
  font-size: 1.2em;
}