header {
  justify-content: space-between;
  align-items: center;
}

.header-text, .header-logo {
  /* margin: 0.55em 0; */
  font-size: 1.5em;
}

.header-text {
  margin-right: 1.25em;
}

.header-logo {
  min-width: 200px;
}

main {
  position: relative;
  /* overflow: hidden; */
}

.menu-wrapper {
  width: 100vw;
  border-bottom: 1px solid rgb(0, 0, 0);
  z-index: 100;
}

.desktop-menu {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 0 1em;
  margin: 0 auto;
  padding: 0.7em 1.5em;
  width: 100%;
  max-width: 1080px;

}

.menu-link {
  margin: 0 0.5em;
  font-size: 1.3em;
  white-space: nowrap;
}

.dropdown-menu-btn {
  
}

.dropdown-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  word-wrap: break-word;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  transform: translateY(-100%);
  /* height: 0; */
  z-index: 10;
}

.dropdown-menu-btn:hover .dropdown-menu {
  transform: translateY(0);
  /* height: 100%; */
}

.mobile-menu {
  display: none;
}

.image-grid-wrapper {
  justify-content: center;
  align-items: center;
}

.image-grid {
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 0;
  gap: 3em;
  width: 100%;
  max-width: 1800px;
}

.image-grid::after {
  content: "";
}

.image-grid-item {
  filter: grayscale(80%);
  overflow: hidden;
}

.image-grid-item:hover {
  -webkit-box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  filter: grayscale(0);
}

.experience-image-grid-item, .experience-image-grid::after {
  flex-basis: 27em;
}

.quality-image-grid-item, .quality-image-grid::after {
  flex-basis: 20em;
}

.image-grid-item-title-wrapper {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  padding: 0.8em 1.3em;
  transform: translateY(-100%);
}

.image-grid-item-title {
  font-size: 1em;
}

.image-grid-item-icon {
  width: 1em;
}

.image-grid-item-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* max-height: auto; */
  vertical-align: middle;
}

.experience-image-grid-item-image {
  max-width: 27em;
}

.quality-image-grid-item-image {
  max-width: 20em;
}

.image-grid-item:hover .image-grid-item-title-wrapper {
  transform: translateY(0);
}

.about-us-wrapper {
  justify-content: center;
  gap: 2em 0;
  margin: 0 auto;
  padding: 2em 0;
  width: 100%;
  max-width: 1000px;
}

.about-us-text {
  font-size: 1.3em;
}

.about-us-text span {
  margin-left: 1em;
}

.main-contact-info-wrapper {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.main-contact-info {

}

.contact-photo {
  max-width: 250px;
}

.main-contact-info-text-wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.main-contact-info-text {
  margin: 0.5em 0;
  text-align: center;
  font-size: 1.3em;
}

.main-contact-info-text em {
  font-size: 1.4em;
}

.bottom-contact-info-wrapper {
  
}

.bottom-contact-info {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 3em 0;
}

.contact-info-inner-wrapper {

}

.contact-info-inner {
  font-size: 1.4em;
}

@media (max-width: 991px) {
  .nav {
    justify-content: space-around;
  }

  .contact-info-text-wrapper {
    padding: 2em;
  }

  .contact-photo-wrapper {
    width: 100%;
    height: 20em;
  }
}

@media (max-width: 767px) {
  header {
    flex-wrap: wrap-reverse;
  }

  .feedback-form {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .nav-link {
    padding: 0.15em 0;
  }

  .images-grid-item {
    margin: 2em 0;
  }
}